
<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">All Profiles</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a href="../../index.html">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Profiles</a>
            </li>
            <li class="breadcrumb-item active">All Profiles</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix animated fadeInLeft">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-body ">
            <div class="wrapper wrapper-content ">
              <div class="row">
                <div class="col-md-12">
                  <div class="ibox">
                    <div class="ibox-title">
                      <span class="pull-right">(<strong>{{recommendedUsers.length?recommendedUsers.length:'0'}}</strong>) resume</span>
                      <h5>All Profiles</h5>
                    </div>

                    <div *ngIf="recommendedUsers?.length !== 0 && completeSearch">
                      <div  *ngFor="let user of recommendedUsers; let i = index" class="ibox-content one-resume">
                        <div class="table-responsive">
                          <table class="table shoping-cart-table ">
                            <tbody>
                            <tr>
                              <td>
                                <div class="cart-product-imitation">
                                  <img alt=""
                                       src="../../assets/images/cv.png"
                                       style="cursor:pointer;"
                                       (click)="checkFullResume(user.id)"
                                  >
                                </div>
                              </td>
                              <td class="desc" style="width: 70%">
                                <h3>
                                  <a class="text-navy" style="color: #343d45">
                                    {{user.personal_info.name}}
                                  </a>
                                </h3>
                                <div class="small">
                                  <strong>Profile:</strong>
                                  <p>
                                <span *ngIf="user.labels.backend === 1"
                                      class="label bg-red m-b-10">Backend</span>
                                    <span *ngIf="user.labels.frontend === 1"
                                          class="label bg-cyan m-b-10">Frontend</span>
                                    <span *ngIf="user.labels.phpsymfony === 1"
                                          class="label bg-light-green m-b-10">PHP/Symfony</span>
                                    <span *ngIf="user.labels.architectejee === 1"
                                          class="label bg-amber m-b-10">ArchitecteJEE</span>
                                    <span *ngIf="user.labels.embedded === 1"
                                          class="label bg-blue-grey m-b-10">Embarqué</span>
                                    <span *ngIf="user.labels.fullstackjs === 1"
                                          class="label bg-pink m-b-10">FullstackJS</span>
                                    <span *ngIf="user.labels.drupal === 1"
                                          class="label bg-deep-purple m-b-10">Drupal</span>
                                    <span *ngIf="user.labels.po === 1"
                                          class="label bg-yellow m-b-10">PO</span>
                                    <span *ngIf="user.labels.java_jee === 1"
                                          class="label bg-deep-orange m-b-10">Java/JEE</span>
                                    <span *ngIf="user.labels.po ===0 && user.labels.architectejee === 0 &&
                                      user.labels.drupal ===0 && user.labels.fullstackjs ===0 && user.labels.embedded ===0&&
                                      user.labels.phpsymfony ===0 && user.labels.frontend ===0 && user.labels.backend ===0 "
                                          class="label bg-grey m-b-10">No Skill</span>
                                  </p>
                                </div>
                                <div class="small">
                                  <strong>location:</strong>
                                  <p>{{user.personal_info.location ? user.personal_info.location : "Non available"}}</p>
                                </div>
                                <div class="small m-b-none">
                                  <strong>email:</strong>
                                  <p>{{user.personal_info.email ? user.personal_info.email : "Non available"}}</p>
                                </div>
                                <div class="small m-b-none">
                                  <strong>Phone:</strong>
                                  <p>{{user.personal_info.phone ? user.personal_info.phone : "Non available"}}</p>
                                </div>
                              </td>
                              <td class="desc" style="width: 70%">
                                <div class="small m-b-none">
                                  <strong>Experience:</strong>
                                  <p>{{user.total_experience ? user.total_experience + ' years' : "Non available"}} </p>
                                </div>
                                <div class="small m-b-none">
                                  <strong>Stability:</strong>
                                  <p>{{user.stability ? user.stability + ' years': "Non available"}}</p>
                                </div>
                              </td>

                              <td style="width: 10%">
                                <button (click)="checkFullResume(user.id)" class="btn-hover btn-border-radius color-10"
                                        style="    background-image: linear-gradient(to right,#26a69a,#26a69a,#343d45,#343d45);">
                                  Check profile
                                </button>
                              </td>
                              <td style="width: 10%">
                                <button (click)="checkRecommendedProfiles(user.id)"
                                        class="btn-hover btn-border-radius color-10"
                                        style="    background-image: linear-gradient(to right,#26a69a,#26a69a,#343d45,#343d45);">
                                  Get Similar profiles
                                </button>
                              </td>

                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                    <div *ngIf="recommendedUsers?.length === 0 && completeSearch" style="text-align: center">
                      <img  src="../../assets/images/no-result-found.png"/>
                    </div>
                    <div class="ibox-content">
                      <div class="row">
                        <div class="col-sm-7 ">
                          <p class="p-15">Showing 1 - 10 of {{recommendedUsers.length?recommendedUsers.length: '0'}}</p>
                        </div>
                        <div class="col-sm-5 text-right">
                          <div class="pull-right p-15">
                            <button disabled class="btn btn-primary" type="button">
                              <i class="material-icons">navigate_before</i>
                            </button>
                            &nbsp;&nbsp;
                            <button disabled  class="btn btn-primary" type="button">
                              <i  class="material-icons">navigate_next</i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

